In [2]:
import os
import pandas as pd
import csv

In [3]:
transit_data = pd.read_csv("Cleaned Data/Passenger use by year.csv")
energy_data = pd.read_csv("Cleaned Data/clean_energy_consumption_data.csv")

In [4]:
transit_df = pd.DataFrame(transit_data)
energy_df= pd.DataFrame(energy_data)

In [5]:
transit_df

,COUNTRY,Country,VARIABLE,Variable,YEAR,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,KOR,Korea,T-PASS-RD-TOT,Road passenger transport,2001,2001,PKM,Passenger-kilometres,6,Millions,NaN,NaN,267525.000000,NaN,NaN
1,KOR,Korea,T-PASS-RD-TOT,Road passenger transport,2002,2002,PKM,Passenger-kilometres,6,Millions,NaN,NaN,244955.000000,NaN,NaN
2,KOR,Korea,T-PASS-RD-TOT,Road passenger transport,2003,2003,PKM,Passenger-kilometres,6,Millions,NaN,NaN,238861.000000,NaN,NaN
3,KOR,Korea,T-PASS-RD-TOT,Road passenger transport,2004,2004,PKM,Passenger-kilometres,6,Millions,NaN,NaN,190183.000000,NaN,NaN
4,KOR,Korea,T-PASS-RD-TOT,Road passenger transport,2005,2005,PKM,Passenger-kilometres,6,Millions,NaN,NaN,200779.000000,B,Break
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2606,CHL,Chile,T-PASS-RL-TOT,Rail passenger transport,2014,2014,PKM,Passenger-kilometres,6,Millions,NaN,NaN,662.561655,NaN,NaN
2607,CHL,Chile,T-PASS-RL-TOT,Rail passenger transport,2015,2015,PKM,Passenger-kilometres,6,Millions,NaN,NaN,584.365975,NaN,NaN
2608,CHL,Chile,T-PASS-RL-TOT,Rail passenger transport,2016,2016,PKM,Passenger-kilometres,6,Millions,NaN,NaN,582.860352,NaN,NaN
2609,CHL,Chile,T-PASS-RL-TOT,Rail passenger transport,2017,2017,PKM,Passenger-kilometres,6,Millions,NaN,NaN,595.783014,NaN,NaN
2610,CHL,Chile,T-PASS-RL-TOT,Rail passenger transport,2018,2018,PKM,Passenger-kilometres,6,Millions,NaN,NaN,676.509974,P,Provisional value

In [6]:
energy_df

,Location,1986,1987,1988,1989,1990,1991,1992,1993,1994,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,World,324.5344016,334.5932663,347.6354523,352.3576472,358.9595455,352.2644272,351.0744285,353.9732567,357.8829972,...,493.091062,499.6972405,494.3132499,523.725112,538.7016471,550.8484054,561.7706158,567.0296292,570.0615279,573.9508257
1,Afghanistan,0.039111199,0.063065158,0.111220787,0.109364539,0.108320341,0.047438198,0.031281766,0.031068733,0.030081109,...,0.034254709,0.058526483,0.095348795,0.118538529,0.161050802,0.147607649,0.124017682,0.113619521,0.125483137,0.117133389
2,Albania,0.166075365,0.166640543,0.168590876,0.160340585,0.114845298,0.096323694,0.084191203,0.073833402,0.070178183,...,0.09682504,0.105744823,0.115070874,0.128327344,0.105875204,0.104431132,0.127732976,0.116326405,0.116576406,0.12436058
3,Algeria,1.073661264,1.148639374,1.222947634,1.18021525,1.212354841,1.354444964,1.30211942,1.197210337,1.233072137,...,1.558107806,1.68592524,1.783379231,1.777793483,1.938981898,2.099941293,2.039276069,2.30202481,2.354764812,2.337093871
4,American Samoa,0.006716584,0.006973009,0.006778814,0.007806191,0.008210538,0.008210538,0.008445519,0.008216196,0.008003583,...,0.008606956,0.008630536,0.008606956,0.008606956,0.004911509,0.004924966,0.004911509,0.004911509,0.004908811,0.004908869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1149,Wake Island,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1150,Western Sahara,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1151,Yemen,0,0,0,0,0,0,0,0,0,...,0,0,0,0.000019512,0.000019432,0.000028548,0.000047705,0.0000951,0.001081004,0.00143096
1152,Zambia,0.09076501,0.081980147,0.080546524,0.064865504,0.075368102,0.07546398,0.074200986,0.073979034,0.074053328,...,0.09416468,0.093821618,0.094043332,0.099505352,0.11139352,0.114221132,0.122657277,0.128670644,0.119663804,0.106261164
1153,Zimbabwe,0.0425037,0.029455262,0.031615066,0.040564523,0.045798166,0.042218631,0.036289722,0.024696334,0.020230947,...,0.060089685,0.057708724,0.054348202,0.055831638,0.048768864,0.050187342,0.048011757,0.049817875,0.044750116,0.034072702