In [1]:
# Dependencies and setup
import pandas as pd
import pandas as pd
import numpy as np
import os

In [2]:
# Use os.join.path so any OS can run this code
file_path = os.path.join("..", "Resources", "energy consumption.csv")

# Read the csv into a data frame and display the first few rows
energy_df = pd.read_csv(file_path)
energy_df.head()

,total energy consumption (quad Btu),1986,1987,1988,1989,1990,1991,1992,1993,1994,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,World,324.5344016,334.5932663,347.6354523,352.3576472,358.9595455,352.2644272,351.0744285,353.9732567,357.8829972,...,493.091062,499.6972405,494.3132499,523.725112,538.7016471,550.8484054,561.7706158,567.0296292,570.0615279,573.9508257
1,Afghanistan,0.039111199,0.063065158,0.111220787,0.109364539,0.108320341,0.047438198,0.031281766,0.031068733,0.030081109,...,0.034254709,0.058526483,0.095348795,0.118538529,0.161050802,0.147607649,0.124017682,0.113619521,0.125483137,0.117133389
2,Albania,0.166075365,0.166640543,0.168590876,0.160340585,0.114845298,0.096323694,0.084191203,0.073833402,0.070178183,...,0.09682504,0.105744823,0.115070874,0.128327344,0.105875204,0.104431132,0.127732976,0.116326405,0.116576406,0.12436058
3,Algeria,1.073661264,1.148639374,1.222947634,1.18021525,1.212354841,1.354444964,1.30211942,1.197210337,1.233072137,...,1.558107806,1.68592524,1.783379231,1.777793483,1.938981898,2.099941293,2.039276069,2.30202481,2.354764812,2.337093871
4,American Samoa,0.006716584,0.006973009,0.006778814,0.007806191,0.008210538,0.008210538,0.008445519,0.008216196,0.008003583,...,0.008606956,0.008630536,0.008606956,0.008606956,0.004911509,0.004924966,0.004911509,0.004911509,0.004908811,0.004908869

In [3]:
# Create a funtion that accepts the start and end position of the rows where the data is located and the name of the source column that will be changed
def split_csv(start, end, name):

    # Get a list of the column names for each CSV
    column = energy_df.columns

    # Store the enery source column name as a variable to reference later
    source_name = column[0]

    # Create a new data frame
    new_df = pd.DataFrame(columns=column)

    # Locate the cells where the data is located and add it to the data frame
    new_df = energy_df.iloc[start:end, :]

    # Rename the energy source column name
    new_df.rename(columns={source_name: name}, inplace=True)

    # Strip and leading and trailing white spaces on country names
    new_df[name] = new_df[name].str.strip()

    # Return the data frame
    return new_df

In [4]:
# Call the function with the parameters we want for the new data frame
total_df = split_csv(0,231,"total energy consumption (quad Btu)")

# Save to a CSV
total_df.to_csv("../Cleaned Data/total_consumption.csv", index=False)

In [5]:
# Call the function with the parameters we want for the new data frame
coal_df = split_csv(232,463,"total energy consumption from coal (quad Btu)")

# Save to a CSV
coal_df.to_csv("../Cleaned Data/coal_consumption.csv", index=False)

In [6]:
# Call the function with the parameters we want for the new data frame
natural_gas_df = split_csv(464,695,"total energy consumption from natural gas (quad Btu")

# Save to a CSV
natural_gas_df.to_csv("../Cleaned Data/natural_gas_consumption.csv", index=False)

In [7]:
# Call the function with the parameters we want for the new data frame
petroleum_df = split_csv(696,927,"total energy consumption from petroleum and other liquids (quad Btu)")

# Save to a CSV
petroleum_df.to_csv("../Cleaned Data/petroleum_consumption.csv", index=False)

In [8]:
# Call the function with the parameters we want for the new data frame
nuclear_df = split_csv(928,1159,"total energy consumption from nuclear, renewables, and other (quad Btu)")

# Save to a CSV
nuclear_df.to_csv("../Cleaned Data/nuclear_consumption.csv", index=False)