In [1]:
'''
Trevor Kleinstuber
'''

import os
import pandas as pd
import matplotlib.pyplot as plt

directory = '../Cleaned Data/'
files = os.listdir(directory)
data_files = []

for file in files:
    if file[-4:] == '.csv':
        data_files.append(file)
        
data_files

['clean_energy_consumption_data.csv',
 'coal_consumption.csv',
 'disasters.csv',
 'duplicated_spellings.csv',
 'Global_Consumption_and_Temperature.csv',
 'natural_gas_consumption.csv',
 'nuclear_consumption.csv',
 'Passenger use by year.csv',
 'petroleum_consumption.csv',
 'population_density_clean.csv',
 'Temperature_Delta_1986 to 2016.csv',
 'total_consumption.csv']

In [2]:
data_dfs = []
for data_file in data_files:
    data_dfs.append(
        pd.read_csv(directory + data_file)
    )
    print(data_file)

clean_energy_consumption_data.csv
coal_consumption.csv
disasters.csv
duplicated_spellings.csv
Global_Consumption_and_Temperature.csv
natural_gas_consumption.csv
nuclear_consumption.csv
Passenger use by year.csv
petroleum_consumption.csv
population_density_clean.csv
Temperature_Delta_1986 to 2016.csv
total_consumption.csv

In [3]:
temp_df = data_dfs[-1]
temp_df.head()

,total energy consumption (quad Btu),1986,1987,1988,1989,1990,1991,1992,1993,1994,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,World,324.5344016,334.5932663,347.6354523,352.3576472,358.9595455,352.2644272,351.0744285,353.9732567,357.8829972,...,493.091062,499.6972405,494.3132499,523.725112,538.7016471,550.8484054,561.7706158,567.0296292,570.0615279,573.9508257
1,Afghanistan,0.039111199,0.063065158,0.111220787,0.109364539,0.108320341,0.047438198,0.031281766,0.031068733,0.030081109,...,0.034254709,0.058526483,0.095348795,0.118538529,0.161050802,0.147607649,0.124017682,0.113619521,0.125483137,0.117133389
2,Albania,0.166075365,0.166640543,0.168590876,0.160340585,0.114845298,0.096323694,0.084191203,0.073833402,0.070178183,...,0.09682504,0.105744823,0.115070874,0.128327344,0.105875204,0.104431132,0.127732976,0.116326405,0.116576406,0.12436058
3,Algeria,1.073661264,1.148639374,1.222947634,1.18021525,1.212354841,1.354444964,1.30211942,1.197210337,1.233072137,...,1.558107806,1.68592524,1.783379231,1.777793483,1.938981898,2.099941293,2.039276069,2.30202481,2.354764812,2.337093871
4,American Samoa,0.006716584,0.006973009,0.006778814,0.007806191,0.008210538,0.008210538,0.008445519,0.008216196,0.008003583,...,0.008606956,0.008630536,0.008606956,0.008606956,0.004911509,0.004924966,0.004911509,0.004911509,0.004908811,0.004908869

In [4]:
temp_df = temp_df[['Year','Mean']]

KeyError: "None of [Index(['Year', 'Mean'], dtype='object')] are in the [columns]"

In [ ]:
temp_df = temp_df.groupby('Year').mean()

In [ ]:
cons_df = data_dfs[0].set_index('Location')
con_by_year = cons_df.loc['World'].astype(float).sum()

In [ ]:
plt.plot(temp_df) #temp_df.Year,temp_df.mean)
plt.ylabel('+/- C from mean for 1880-2020')

In [ ]:
plt.savefig('../Images/Temperature_vs_Time.png')

In [ ]:
temp_df = temp_df.reset_index()

In [ ]:
temp_df = temp_df[temp_df.Year > 1985]
temp_df

In [ ]:
cons_df

In [ ]:
con_by_year = pd.DataFrame(con_by_year)
con_by_year.columns = ['Consumption']
con_by_year

In [ ]:

main = pd.merge(temp_df, con_by_year, left_index=True, right_index=True, how='outer')

In [ ]:
con_by_year = con_by_year.reset_index()
con_by_year

In [ ]:
con_by_year = con_by_year.rename(columns={'index':'Year'})
con_by_year

In [ ]:
con_by_year.Year = con_by_year.Year.astype(int)
temp_df.Year = temp_df.Year.astype(int)

In [ ]:
main = pd.merge(con_by_year, temp_df, on='Year', how='outer')
main

In [ ]:
main = main.rename(columns={'Mean':'Temperature Delta'})
main

In [ ]:
main.to_csv('../Cleaned Data/Global_Consumption_and_Temperature.csv')

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

# Create some mock data
t = main['Year']
data1 = main['Temperature Delta']
data2 = main['Consumption']

fig, ax1 = plt.subplots()

color = 'tab:red'
ax1.set_xlabel('Year')
ax1.set_ylabel('Temp Delta', color=color)
ax1.plot(t, data1, color=color)
ax1.tick_params(axis='y', labelcolor=color)

ax2 = ax1.twinx()  # instantiate a second axes that shares the same x-axis

color = 'tab:blue'
ax2.set_ylabel('Global Consumption', color=color)  # we already handled the x-label with ax1
ax2.plot(t, data2, color=color)
ax2.tick_params(axis='y', labelcolor=color)

fig.tight_layout()  # otherwise the right y-label is slightly clipped
plt.savefig('../Images/Temp et Consumption by year.png')
plt.show()

In [ ]:
plt.plot(main.Year,main.Consumption)
plt.plot(main.Year,main['Temperature Delta'].astype(float))

In [ ]:
plt.plot(con_by_year)
plt.xticks(rotation=90)
plt.show()