In [63]:
## Attempted by Stephen ##
import os
import numpy as np
import pandas as pd

In [64]:
transit = pd.read_csv("../Cleaned Data/Passenger use by year.csv")
total_consumption= pd.read_csv("../Cleaned Data/total_consumption.csv")
natural_gas = pd.read_csv("../Cleaned Data/natural_gas_consumption.csv")
nuclear = pd.read_csv("../Cleaned Data/nuclear_consumption.csv")
petroleum = pd.read_csv("../Cleaned Data/petroleum_consumption.csv")

In [67]:
consumption_t = total_consumption.T
consumption_t.head()

,0,1,2,3,4,5,6,7,8,9,...,221,222,223,224,225,226,227,228,229,230
total energy consumption (quad Btu),World,Afghanistan,Albania,Algeria,American Samoa,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wake Island,Western Sahara,Yemen,Zambia,Zimbabwe
1986,324.5344016,0.039111199,0.166075365,1.073661264,0.006716584,0.072853256,0.002763963,0.004624394,1.904251569,--,...,0.113916764,--,0.001647149,1.88314082,0.223252853,0.018478673,0.002693074,0.14051916,0.128626303,0.163786035
1987,334.5932663,0.063065158,0.166640543,1.148639374,0.006973009,0.075135479,0.002763963,0.005755917,1.953187266,--,...,0.121478299,--,0.001455415,1.919688473,0.253654008,0.018478673,0.002738025,0.139347145,0.119220214,0.184938093
1988,347.6354523,0.111220787,0.168590876,1.222947634,0.006778814,0.077495249,0.00298473,0.005771311,1.966407569,--,...,0.11989391,--,0.00188554,1.931123852,0.25667367,0.018321777,0.002744544,0.14372637,0.121619767,0.182482572
1989,352.3576472,0.109364539,0.160340585,1.18021525,0.007806191,0.074983449,0.002763963,0.005755917,1.942574521,--,...,0.104472363,--,0.001651164,2.055376779,0.258662629,0.018271718,0.002738025,0.153514255,0.10459841,0.197624775

In [68]:
consumption_df = consumption_t.rename(columns={"total energy consumption (quad Btu):Year"})

consumption_df

TypeError: 'set' object is not callable

In [69]:
transit_df = transit.set_index("Year")
transit_df.head()

,COUNTRY,Country,VARIABLE,Variable,YEAR,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
Year,,,,,,,,,,,,,,
2001,KOR,Korea,T-PASS-RD-TOT,Road passenger transport,2001,PKM,Passenger-kilometres,6,Millions,NaN,NaN,267525.0,NaN,NaN
2002,KOR,Korea,T-PASS-RD-TOT,Road passenger transport,2002,PKM,Passenger-kilometres,6,Millions,NaN,NaN,244955.0,NaN,NaN
2003,KOR,Korea,T-PASS-RD-TOT,Road passenger transport,2003,PKM,Passenger-kilometres,6,Millions,NaN,NaN,238861.0,NaN,NaN
2004,KOR,Korea,T-PASS-RD-TOT,Road passenger transport,2004,PKM,Passenger-kilometres,6,Millions,NaN,NaN,190183.0,NaN,NaN
2005,KOR,Korea,T-PASS-RD-TOT,Road passenger transport,2005,PKM,Passenger-kilometres,6,Millions,NaN,NaN,200779.0,B,Break