In [10]:
## Attempted by Stephen ##
import os
import pandas as pd

In [11]:
transit = pd.read_csv("../Cleaned Data/Passenger use by year.csv")
total_consumption= pd.read_csv("../Cleaned Data/total_consumption.csv")
natural_gas = pd.read_csv("../Cleaned Data/natural_gas_consumption.csv")
nuclear = pd.read_csv("../Cleaned Data/nuclear_consumption.csv")
petroleum = pd.read_csv("../Cleaned Data/petroleum_consumption.csv")

In [12]:
total_consumption.head()

,total energy consumption (quad Btu),1986,1987,1988,1989,1990,1991,1992,1993,1994,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,World,324.5344016,334.5932663,347.6354523,352.3576472,358.9595455,352.2644272,351.0744285,353.9732567,357.8829972,...,493.091062,499.6972405,494.3132499,523.725112,538.7016471,550.8484054,561.7706158,567.0296292,570.0615279,573.9508257
1,Afghanistan,0.039111199,0.063065158,0.111220787,0.109364539,0.108320341,0.047438198,0.031281766,0.031068733,0.030081109,...,0.034254709,0.058526483,0.095348795,0.118538529,0.161050802,0.147607649,0.124017682,0.113619521,0.125483137,0.117133389
2,Albania,0.166075365,0.166640543,0.168590876,0.160340585,0.114845298,0.096323694,0.084191203,0.073833402,0.070178183,...,0.09682504,0.105744823,0.115070874,0.128327344,0.105875204,0.104431132,0.127732976,0.116326405,0.116576406,0.12436058
3,Algeria,1.073661264,1.148639374,1.222947634,1.18021525,1.212354841,1.354444964,1.30211942,1.197210337,1.233072137,...,1.558107806,1.68592524,1.783379231,1.777793483,1.938981898,2.099941293,2.039276069,2.30202481,2.354764812,2.337093871
4,American Samoa,0.006716584,0.006973009,0.006778814,0.007806191,0.008210538,0.008210538,0.008445519,0.008216196,0.008003583,...,0.008606956,0.008630536,0.008606956,0.008606956,0.004911509,0.004924966,0.004911509,0.004911509,0.004908811,0.004908869

In [13]:
transit.head()

,COUNTRY,Country,VARIABLE,Variable,YEAR,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,KOR,Korea,T-PASS-RD-TOT,Road passenger transport,2001,2001,PKM,Passenger-kilometres,6,Millions,NaN,NaN,267525.0,NaN,NaN
1,KOR,Korea,T-PASS-RD-TOT,Road passenger transport,2002,2002,PKM,Passenger-kilometres,6,Millions,NaN,NaN,244955.0,NaN,NaN
2,KOR,Korea,T-PASS-RD-TOT,Road passenger transport,2003,2003,PKM,Passenger-kilometres,6,Millions,NaN,NaN,238861.0,NaN,NaN
3,KOR,Korea,T-PASS-RD-TOT,Road passenger transport,2004,2004,PKM,Passenger-kilometres,6,Millions,NaN,NaN,190183.0,NaN,NaN
4,KOR,Korea,T-PASS-RD-TOT,Road passenger transport,2005,2005,PKM,Passenger-kilometres,6,Millions,NaN,NaN,200779.0,B,Break